.yarn/*
# !.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

*.log

# compiled output
/dist
/tmp
/out-tsc
/packages/ui/dist

# dependencies
node_modules

# certs
cert

# Gasket
.doc
.next


# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace


# IDE - VSCode
.vscode/*
!.vscode/launch.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# CDK
infrastructure/*/gd-service-catalog
infrastructure/*/cdk.out

# site-mgmt
apps/*/public/locales/locales-manifest.json
secrets
apps/site-mgmt/.configcache

# mock-server
apps/mock-server-site-mgmt/dist/


# local env files
.env

tsconfig.tsbuildinfo

buildCache
newBuildCache
.turbo
.pccache

dist
.npmrc
